@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-align:center;
}

main {
  display: flex;
  justify-content: center;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #111d30;
  color: #111d30;
  border-radius: 8px;
  min-width: 220px;
  padding: 8px;
}

.input-container {
  padding: 12px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input-container button {
  width: 40px;
  margin-left: 6px;
  background-color: #4112ff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

input[type=text] {
  height: 26px;
  width: 100%;
}

.todo-controller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 47px;
}

.todo-controller button {
  width: 30px;
  padding: 2px;
  color: #c41a30;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e6e4e1;
}
